extends ../layout

block content
  .wrap
    p
      | This is node-awake, it is an app that will call you at the time that you have saved, and will ask you repeatedly a math question, once you answer the math question, the app will have determined you as awake.
